[submodule "adrc_esp32/lib/Adafruit_VL53L1X"]
	path = adrc_esp32/lib/Adafruit_VL53L1X
	url = https://github.com/adafruit/Adafruit_VL53L1X
[submodule "adrc_esp32"]
	path = adrc_esp32
	url = https://github.com/DaiGuard/adrc_esp32
