[submodule "adrc_esp32"]
	path = adrc_esp32
	url = https://github.com/DaiGuard/adrc_esp32
[submodule "adrc_ws/src/vision_opencv"]
	path = adrc_ws/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
[submodule "adrc_ws/src/ydlidar"]
	path = adrc_ws/src/ydlidar
	url = https://github.com/EAIBOT/ydlidar
